<configuration>
  
  <property name="USER_HOME" value="/home/logs" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{MMdd HH:mm:ss} %-5level %logger{36} - %msg%n
     </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${USER_HOME}/myApp.log</file>

    <encoder>
      <pattern>%d{MMdd HH:mm:ss} [%thread] %level %logger{36} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="RollFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logFile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{MMdd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender> 

  <logger name="org.etagate" level="DEBUG" />
  <logger name="io.vertx" level="INFO" />

  <root level="OFF">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="RollFILE" />
  </root>

</configuration>